<div class="centrado">
    <h1>Registrar</h1>
    <mat-card class="contenido-con-margen">

      <mat-form-field class="example-full-width">
        <mat-label>Usuario</mat-label>
        <input [(ngModel)]="usuario.usuario" matInput placeholder="" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label >Contraseña</mat-label>
        <input [(ngModel)]="usuario.password" type="password" matInput placeholder="" value="">
      </mat-form-field>

      <button (click)="agregarUsuario()" style="padding: 10px;"  mat-raised-button color="primary">Registrar</button>
    </mat-card>
</div>

<!-- routerLink="/menu" -->