<div class="centrado">
    <h1>Iniciar Sesion</h1>
    <mat-card class="contenido-con-margen">

      <mat-form-field class="example-full-width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label >Contraseña</mat-label>
        <input type="password" matInput placeholder="" value="">
      </mat-form-field>

      <button style="padding: 10px;" routerLink="/menu" mat-raised-button color="primary">Ingresar</button>
    </mat-card>
</div>