/* product-grid.component.css */
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.card-container {
    width: 98%;
    padding: 10px 20px 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; /* Opcional: ajusta la altura según sea necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .content {
    /* Estilos adicionales para el contenido si es necesario */
  }
  

.product-grid {
    text-align: center;
  }
  
  .product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product-card {
    width: 200px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  .icon-wrapper {
    padding: 20px;
    /* Estilos para tu ícono aquí */
  }
  
  .online-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    /* Otros estilos para tu botón aquí */
  }
  
  .online-btn:hover {
    background-color: darkblue;
  }
  